{% load bootstrap_icons %}

<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-1 shadow mb-4 fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand d-none d-md-block" href="{% url 'main' %}">UltraBlog</a>
        <div class="d-flex me-5">
            <form method="GET" action="{% url 'main' %}" class="d-flex navbar-item">
                <input type="text" name="q" aria-label="Search" class="form-control me-2"
                       placeholder="Search">
                <button class="btn btn-outline-success d-none d-md-block" type="submit">Search</button>
            </form>

            {% if request.user.is_authenticated %}
                <div class="dropdown navbar-item ms-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        @{{ user.username }}{% bs_icon 'person-fill' %}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a aria-current="page" class="dropdown-item" href="{% url 'profile' user.id %}">Profile</a>
                        </li>
                        <li><a aria-current="page" class="dropdown-item" href="{% url 'profile_edit' %}">Settings</a>
                        </li>
                        <li><a aria-current="page" class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
            {% else %}
                <a aria-current="page" class="nav-link" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}