{% extends 'main.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 bg-light shadow-lg border border-secondary border-4">
                {% if create == True %}
                    <h2 class="text-center my-5">Create Post</h2>
                {% else %}
                    <h2 class="text-center my-5">Update Post</h2>
                {% endif %}
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="mb-3 ms-5 row">
                        <div class="col-5">
                            <label for="topicInput" class="form-label">Enter topic:</label>
                        </div>
                        <div class="col-7">
                            <input class="text" type="text" value="{{ post.topic.name }}" name="topic" list="topic-list"
                                   id="topicInput">
                            <datalist id="topic-list">
                                <select id="topicInput">
                                    {% for topic in topics %}
                                        <option value="{{ topic.name }}">{{ topic.name }}</option>
                                    {% endfor %}
                                </select>
                            </datalist>
                        </div>
                    </div>
                    <div class="mb-3 ms-5 row">
                        <div class="col-5">
                            <label for="nameInput" class="form-label">Enter post mame:</label>
                        </div>
                        <div class="col-7">
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="mb-3 ms-5 row">
                        <div class="col-5">
                            <label for="descriptionInput" class="form-label">Enter description:</label>
                        </div>
                        <div class="col-7">
                            {{ form.description }}
                        </div>
                    </div>
                    <div class="text-center mb-5">
                        <a class="btn btn-warning me-5" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
                        <button type="submit" class="btn btn-success" value="Submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}