{% extends 'main.html' %}

{% block content %}
    <div class="container">
        <form action="" method="GET">
            <label for="topicsSearch" class="form-label"></label>
            <input id="topicsSearch" name="q" placeholder="Search for topics">
        </form>

        <ul class="topics-list">
            <li>
                <a href="{% url 'topics' %}" class="active"> All <span>{{ topics.count }}</span></a>
            </li>
            {% for topic in topics %}
                <li>
                    <a href="{% url 'main' %}?q={{ topic.name }}"> {{ topic.name }}
                        <span>{{ topic.room_set.all.count }}</span> </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}